@import url("styles/nullstyle.css");
html{
	scroll-behavior: smooth;
 }

 .wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;

	overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

section{
	margin-bottom: 200px;
}
.splide__slide img {
	width: 100%;
	height: 320px;
	border-radius: 8px;
  }
  .splide__arrow{
	display: none;
  }